* {
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

body {
    color: rgb(247, 249, 249);
    font-family: Calibri, Helvetica, sans-serif;
    background-color: rgba(5, 5, 5, 0.4);
}

.background {
    background-color: black;
}

/* HEADER SECTION*/
header {
    padding: 16px 16px;
    background-color:rgb(27, 24, 24);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: rgb(249, 250, 249);
}

/* HEADER NAV SECTION */

header nav {
    margin: 10px 12px;
}

header a {
    text-decoration: none;
    color: rgb(249, 250, 250);
    text-align: right;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-items: center;
    list-style: none;  
}

header ul li:hover{
    background: rgba(255, 255, 255, 0.3);
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}

header ul li a {
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
}  


/* BODY SECTION BEGINS */

section {
    padding: 20px 30px;
    margin: 6px 10px;
}

.section-one {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
    margin: 20px 20px;
    background-image: url("../images/lightning.jpg");
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

.section-two {
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
    margin: 20px 20px;
}

.projects {
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    flex-direction: column;
    text-align: center;
    margin: 20px 20px;
}

.run:hover, .code:hover, .placeholder:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}

.project-sources {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin-left: 200px;
}

.language-rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin-left: 215px;
}

.html-1:hover, .css-1:hover, .js-1:hover, .python-1:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
}

.extras-rows {
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-evenly;
    flex-direction: row;
    text-align: center;
    margin: 20px 20px;
}

.run {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
    

article {
    padding: 20px 30px;
    margin: 6px 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.rows {
    padding: 10px 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}

div {
    padding: 20px 20px;
}

.one {
    display: inline-block;
}

p {
    font-size 16px;
    font-weight:bold
}

* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .section-two {
        position: relative;
        }

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

}